body{
    text-align: center;
    background: black;
    color: white;
    margin-top: 60px;
    font-weight: bolder;
}
h1{
    font-family: cursive;
    font-size: 40px;
}
.line{
    background-color:white;
   height: 6px;
   width: 70px;
   margin: 8px auto;
}
p{
    font-family: sans-serif;
    font-size: 20px;
}
#leaders{
    text-align: left;
    margin-bottom: 80px;
}
#home{
    margin-bottom: 80px;
}
.point{
    font-size: 25px;
}
#abg{
    margin-bottom: 80px;
}
h3{
    font-size: 30px;
}
h5{
    font-size: 25px;
}
.fix{
    font-size: 35px;
}
.line2{
    background-color:white;
   height: 4px;
   width: 500px;
   margin: 8px auto;
}
.dt{
    font-size: 24px;
}
